.fetch-result-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 8px;
}

.error-container {
  color: #dc3545;
}

.success-container {
  color: #4ad66d;
}

.fetching-container {
  color: #495057;
}
